---
import './footer.scss';
const currentYear = new Date().getFullYear();
---

<div class="credits">
    <div class="">
        Diseñado y desarrollado por <a href="https://gesprender.com/" target="_blank" class="gesprender">GesPrender.com</a> <br>
    </div>
    <div class="rights ">
        Todos los derechos reservados © {currentYear}.
    </div>
</div>
