@import '../../../assets/envs';
@import '../../../assets/lib';

.credits {
    background: #ffffff97;    
    margin: auto;
    margin-top: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    min-width: auto;
    max-width: 800px;
    bottom: 30px;
    font-weight: 300;
    flex-direction: column;
    .gesprender {
        font-weight: 400;
        color: $blue-200;
        margin-left: 5px;
    }
}