@import '../../assets/global.scss';

.cfs {
    &-head {
        h1 {
            font-weight: 700;
            font-size: 22px;
            margin: 0 0 15px 0;
        }
        ul {
            padding: 0;
            
            p {
                font-weight: 600;
                padding: 0;
                margin: 0 0 10px 0;
            }
            li {
                font-weight: 300;
                font-size: 12px;
                // list-style: none;
                margin-left: 25px;
                margin-bottom: 10px;
                a {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }
    &-content {
        &-title {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 5px;
        }
    }

    &-curse {
        margin-bottom: 15px;
        &-subtitle {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 5px;
        }
        &-description {
            font-size: 12px;
            font-weight: 300;
            padding-left: 10px;
        }
        &-video {
            display: flex;
            flex-direction: row;
            gap: 10px;
            margin-top: 5px;
            padding-left: 25px;
            img {
                border-radius: 50%;
            }
            &-title {
                text-decoration: none;
                color: inherit;
                font-size: 14px;
            }
        }
    }
}