---
import Layout from '../../layouts/Layout.astro';
import '../../components/carrera-full-stack/carerafullstack.scss';
---

<Layout title="Jorge | Software Developer." cancelNav={false} titleNav={'Hola Developer!'}>
	<section class="curse-container">
        <h1>Curso Javascript</h1>
        <a href="/carrera-full-stack"> Volver al inicio </a>
        <p>Opción 1</p>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/QoC4RxNIs5M?si=QsOYxn8z3ig-Q4cu" title="YouTube video player"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </section>
</Layout>
