---
import "../layouts/layout.scss";
import "../components/index/index.scss";
import Nav from "./components/Nav/Nav.astro";
import "./components/Nav/nav.scss";
import Footer from "./components/Footer/Footer.astro";
import "./components/Footer/footer.scss";

interface Props {
	title: string;
	titleNav: string;
	cancelNav: boolean;
}

const { title, cancelNav = true, titleNav='Hola!' } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="shortcut icon" href="/src/assets/img/favicon.png" type="image/x-icon">
		<meta name="keywords" content="Jorge Emiliano Maldonado, Software Developer, Development Coach, Programación Profesional, Consultoría de Software, Coaching Tecnológico, Mentoría en Desarrollo, Soluciones de Software a Medida, Liderazgo Técnico, Innovación en Programación">
    	<meta name="description" content="Jorge Emiliano Maldonado: Software Developer y Coach de Desarrollo Profesional. Con una pasión por la tecnología y un compromiso con la excelencia, ofrezco una perspectiva única en la programación y el liderazgo técnico. Descubre servicios de consultoría personalizados, tutoría y soluciones de software a medida que impulsen tu carrera o negocio al próximo nivel.">
		<meta name="author" content="Jorge Emiliano Maldonado">
		<link rel="canonical" href="https://gesprender.com" />
		<meta name="email" content="jorgeemilianom@gmail.com">
    
		<meta property="og:title" content="Jorge | Coach, Software Developer">
   	 	<meta property="og:description" content="Jorge Emiliano Maldonado: Software Developer y Coach de Desarrollo Profesional. Con una pasión por la tecnología y un compromiso con la excelencia, ofrezco una perspectiva única en la programación y el liderazgo técnico. Descubre servicios de consultoría personalizados, tutoría y soluciones de software a medida que impulsen tu carrera o negocio al próximo nivel.">
   		<meta property="og:url" content="https://gesprender.com">

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		{!cancelNav && <Nav titleNav={titleNav} />}
		<slot />
		<Footer />
		<script
			src="https://code.jquery.com/jquery-3.7.1.js"
			integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
			crossorigin="anonymous"></script>
	</body>
</html>

