---
import './layout.scss';

---

<header >
    <nav class="flex flex-bt flex-align-center">
        <div class="logo">LP</div>
        <ul class="flex gap-2">
            <li>Inicio</li>
            <li>Servicios</li>
            <li>Sobre mi</li>
            <li>Contacto</li>
        </ul>
        <div class="ctaR">CTA</div>
    </nav>
</header>
