---
import './nav.scss'
import OpenMenu from '../Icons/OpenMenu.astro';
import CloseMenu from '../Icons/CloseMenu.astro';

const { titleNav='Hola!' } = Astro.props;
---

<header>
    <div class="nav-container">
        <nav class="flex flex-bt flex-content-center">
            
            <div class="logo-navbar"> {titleNav} </div>
    
            <ul class="nav-items nav-items--side" id="nav-items">
                
                <div class="btn-close" id="btn-close">
                    <CloseMenu />
                </div>

                <li class="nav-item nav-item-icon">GesPrender.com</li>
                <li class="nav-item"> <a href="/">Inicio</a> </li>
                <li class="nav-item"> <a href="/carrera-full-stack">Carrera FullStack</a> </li>
                <!--               
                <li>Servicios</li>
                <li>Contacto</li> 
                -->
            </ul>

            <div class="btn-open flex flex-bt" id="btn-open"> 
                <OpenMenu />
            </div>
        </nav>
    </div>
</header>

<script src="./nav.js"></script>
